<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tela_deck_import.css') }}">
    <title>Adicionar Deck</title>
       
</head>
<body>
    <nav>
        <div class="menu-toggle">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <ul class="menu">
          <li><a href="/">Index</a></li>
          <li><a href="add_deck">Add Deck</a></li>
        </ul>
    </nav>

    <div class="container">
      <h1>Adicionar Deck</h1>

      <form method="POST" action="/add_deck" enctype="multipart/form-data" onsubmit="showLoader()">
          <label for="deck_name">Nome do Deck:</label>
          <input type="text" name="deck_name" id="deck_name" required>
          
          <label for="deck_list">Lista de Cartas:</label>
          <textarea name="deck_list" id="deck_list" required></textarea>
          
          <label for="file_input">Arquivo de Texto:</label>
          <input type="file" name="file_input" id="file_input">
          
          <button type="submit">Adicionar Deck</button>
      </form>
     </div>

    <div id="loader" class="loader">
        <p>Carregando Deck, Aguarde...</p>
        
    </div>

    <script>
        function showLoader() {
            var loader = document.getElementById('loader');
            loader.style.display = 'flex';
        }

        document.getElementById('file_input').addEventListener('change', function(e) {
            var file = e.target.files[0];
            var reader = new FileReader();
            reader.onload = function(e) {
                var fileContent = e.target.result;
                document.getElementById('deck_list').value += fileContent;
            };
            reader.readAsText(file);
        });
       
        const menuToggle = document.querySelector('.menu-toggle');
        const menu = document.querySelector('.menu');

        menuToggle.addEventListener('click', () => {
            menu.classList.toggle('show-menu');
        });
    
    </script>
</body>
</html>