<!DOCTYPE html>
<html>
<head>
    <title>Erro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/erro.css') }}">
</head>
<body class="pag_erro">
    <nav>
        <ul>
          <li><a href="/">Index</a></li>
          <li><a href="add_deck">Add Deck</a></li>
        </ul>
    </nav>
    <div class="content">
        <h1>Ocorreu um erro</h1>
        <img src="https://cdnb.artstation.com/p/assets/images/images/053/863/459/original/erin-loelius-afr-mindflayer.gif?1663190835" alt="Erro">
        <p>A carta "{{ card_name }}" não foi encontrada.</p>
        <p><a href="/">Voltar</a></p>
    </div>
</body>
</html>
