<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tela_inicio.css') }}">
    <title>Search Magic Cards</title>
    
</head>
<body>
  <nav>
      <div class="menu-toggle">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
      </div>
      <ul class="menu">
        <li><a href="/">Index</a></li>
        <li><a href="add_deck">Add Deck</a></li>
      </ul>
  </nav>
  <h1>Search Result</h1>
  <form action="/search" method="POST">
      
      <input type="text" id="card_name" name="card_name" required placeholder="New Card Name">
      <button type="submit">Search</button>
  </form>
  <script>
    const menuToggle = document.querySelector('.menu-toggle');
    const menu = document.querySelector('.menu');

    menuToggle.addEventListener('click', () => {
        menu.classList.toggle('show-menu');
    });
</script>

</body>
</html>
